*.png filter=lfs diff=lfs merge=lfs
*.jpg filter=lfs diff=lfs merge=lfs
*.jpeg filter=lfs diff=lfs merge=lfs
*.gif filter=lfs diff=lfs merge=lfs
*.psd filter=lfs diff=lfs merge=lfs
*.fbx filter=lfs diff=lfs merge=lfs
*.obj filter=lfs diff=lfs merge=lfs
*.max filter=lfs diff=lfs merge=lfs
*.blend filter=lfs diff=lfs merge=lfs
*.wav filter=lfs diff=lfs merge=lfs
*.mp3 filter=lfs diff=lfs merge=lfs
*.ogg filter=lfs diff=lfs merge=lfs
*.aif filter=lfs diff=lfs merge=lfs
*.asset filter=lfs diff=lfs merge=lfs
*.unity filter=lfs diff=lfs merge=lfs
*.mat filter=lfs diff=lfs merge=lfs
*.prefab filter=lfs diff=lfs merge=lfs
*.mp4 filter=lfs diff=lfs merge=lfs
*.mov filter=lfs diff=lfs merge=lfs
*.avi filter=lfs diff=lfs merge=lfs